In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df = pd.read_csv('data.csv', encoding='unicode_escape')

In [136]:
df.index

RangeIndex(start=0, stop=541909, step=1)

In [14]:
len(df)

541909

In [15]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [147]:
df.loc[[1,2],['StockCode','Country']]

  StockCode         Country
1     71053  United Kingdom
2    84406B  United Kingdom

In [60]:
df.iloc[:, 1].unique

<bound method Series.unique of 0         85123A
1          71053
2         84406B
3         84029G
4         84029E
           ...
541904     22613
541905     22899
541906     23254
541907     23255
541908     22138
Name: StockCode, Length: 541909, dtype: object>

In [64]:
len(df.iloc[:, -1].unique())

38

In [65]:
id_country = df.groupby('Country').count()

# Contar número de StockCode por país

In [71]:
id_country

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID
Country,,,,,,,
Australia,1259,1259,1259,1259,1259,1259,1259
Austria,401,401,401,401,401,401,401
Bahrain,19,19,19,19,19,19,17
Belgium,2069,2069,2069,2069,2069,2069,2069
Brazil,32,32,32,32,32,32,32
Canada,151,151,151,151,151,151,151
Channel Islands,758,758,758,758,758,758,758
Cyprus,622,622,622,622,622,622,622
Czech Republic,30,30,30,30,30,30,30
Denmark,389,389,389,389,389,389,389
EIRE,8196,8196,8196,8196,8196,8196,7485
European Community,61,61,61,61,61,61,61
Finland,695,695,695,695,695,695,695
France,8557,8557,8557,8557,8557,8557,8491
Germany,9495,9495,9495,9495,9495,9495,9495
Greece,146,146,146,146,146,146,146
Hong Kong,288,288,288,288,288,288,0
Iceland,182,182,182,182,182,182,182
Israel,297,297,297,297,297,297,250
Italy,803,803,803,803,803,803,803
Japan,358,358,358,358,358,358,358
Lebanon,45,45,45,45,45,45,45
Lithuania,35,35,35,35,35,35,35
Malta,127,127,127,127,127,127,127
Netherlands,2371,2371,2371,2371,2371,2371,2371
Norway,1086,1086,1086,1086,1086,1086,1086
Poland,341,341,341,341,341,341,341
Portugal,1519,1519,1519,1519,1519,1519,1480
RSA,58,58,58,58,58,58,58
Saudi Arabia,10,10,10,10,10,10,10
Singapore,229,229,229,229,229,229,229
Spain,2533,2533,2533,2533,2533,2533,2533
Sweden,462,462,462,462,462,462,462
Switzerland,2002,2002,2002,2002,2002,2002,1877
USA,291,291,291,291,291,291,291
United Arab Emirates,68,68,68,68,68,68,68
United Kingdom,495478,495478,494024,495478,495478,495478,361878
Unspecified,446,446,446,446,446,446,244

# Ordena-los

In [75]:
id_country.sort_values(['StockCode'], ascending=False)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID
Country,,,,,,,
United Kingdom,495478,495478,494024,495478,495478,495478,361878
Germany,9495,9495,9495,9495,9495,9495,9495
France,8557,8557,8557,8557,8557,8557,8491
EIRE,8196,8196,8196,8196,8196,8196,7485
Spain,2533,2533,2533,2533,2533,2533,2533
Netherlands,2371,2371,2371,2371,2371,2371,2371
Belgium,2069,2069,2069,2069,2069,2069,2069
Switzerland,2002,2002,2002,2002,2002,2002,1877
Portugal,1519,1519,1519,1519,1519,1519,1480
Australia,1259,1259,1259,1259,1259,1259,1259
Norway,1086,1086,1086,1086,1086,1086,1086
Italy,803,803,803,803,803,803,803
Channel Islands,758,758,758,758,758,758,758
Finland,695,695,695,695,695,695,695
Cyprus,622,622,622,622,622,622,622
Sweden,462,462,462,462,462,462,462
Unspecified,446,446,446,446,446,446,244
Austria,401,401,401,401,401,401,401
Denmark,389,389,389,389,389,389,389
Japan,358,358,358,358,358,358,358
Poland,341,341,341,341,341,341,341
Israel,297,297,297,297,297,297,250
USA,291,291,291,291,291,291,291
Hong Kong,288,288,288,288,288,288,0
Singapore,229,229,229,229,229,229,229
Iceland,182,182,182,182,182,182,182
Canada,151,151,151,151,151,151,151
Greece,146,146,146,146,146,146,146
Malta,127,127,127,127,127,127,127
United Arab Emirates,68,68,68,68,68,68,68
European Community,61,61,61,61,61,61,61
RSA,58,58,58,58,58,58,58
Lebanon,45,45,45,45,45,45,45
Lithuania,35,35,35,35,35,35,35
Brazil,32,32,32,32,32,32,32
Czech Republic,30,30,30,30,30,30,30
Bahrain,19,19,19,19,19,19,17
Saudi Arabia,10,10,10,10,10,10,10

# Criar variável com eles ordenados

In [ ]:
country_sort = id_country.sort_values(['StockCode'], ascending=False)

In [137]:
country_sort.index

Index(['United Kingdom', 'Germany', 'France', 'EIRE', 'Spain', 'Netherlands',
       'Belgium', 'Switzerland', 'Portugal', 'Australia', 'Norway', 'Italy',
       'Channel Islands', 'Finland', 'Cyprus', 'Sweden', 'Unspecified',
       'Austria', 'Denmark', 'Japan', 'Poland', 'Israel', 'USA', 'Hong Kong',
       'Singapore', 'Iceland', 'Canada', 'Greece', 'Malta',
       'United Arab Emirates', 'European Community', 'RSA', 'Lebanon',
       'Lithuania', 'Brazil', 'Czech Republic', 'Bahrain', 'Saudi Arabia'],
      dtype='object', name='Country')

In [117]:
thefive = country_sort.loc[:, :'StockCode'].head()

In [143]:
thefive.index

'United Kingdom'

In [142]:
thefive['StockCode']

Country
United Kingdom    495478
Germany             9495
France              8557
EIRE                8196
Spain               2533
Name: StockCode, dtype: int64

In [129]:
thefive['StockCode']

Country
United Kingdom    495478
Germany             9495
France              8557
EIRE                8196
Spain               2533
Name: StockCode, dtype: int64

In [134]:
indexados

Index(['United Kingdom', 'Germany', 'France', 'EIRE', 'Spain'], dtype='object', name='Country')

In [124]:
country_sort

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID
Country,,,,,,,
United Kingdom,495478,495478,494024,495478,495478,495478,361878
Germany,9495,9495,9495,9495,9495,9495,9495
France,8557,8557,8557,8557,8557,8557,8491
EIRE,8196,8196,8196,8196,8196,8196,7485
Spain,2533,2533,2533,2533,2533,2533,2533
Netherlands,2371,2371,2371,2371,2371,2371,2371
Belgium,2069,2069,2069,2069,2069,2069,2069
Switzerland,2002,2002,2002,2002,2002,2002,1877
Portugal,1519,1519,1519,1519,1519,1519,1480
Australia,1259,1259,1259,1259,1259,1259,1259
Norway,1086,1086,1086,1086,1086,1086,1086
Italy,803,803,803,803,803,803,803
Channel Islands,758,758,758,758,758,758,758
Finland,695,695,695,695,695,695,695
Cyprus,622,622,622,622,622,622,622
Sweden,462,462,462,462,462,462,462
Unspecified,446,446,446,446,446,446,244
Austria,401,401,401,401,401,401,401
Denmark,389,389,389,389,389,389,389
Japan,358,358,358,358,358,358,358
Poland,341,341,341,341,341,341,341
Israel,297,297,297,297,297,297,250
USA,291,291,291,291,291,291,291
Hong Kong,288,288,288,288,288,288,0
Singapore,229,229,229,229,229,229,229
Iceland,182,182,182,182,182,182,182
Canada,151,151,151,151,151,151,151
Greece,146,146,146,146,146,146,146
Malta,127,127,127,127,127,127,127
United Arab Emirates,68,68,68,68,68,68,68
European Community,61,61,61,61,61,61,61
RSA,58,58,58,58,58,58,58
Lebanon,45,45,45,45,45,45,45
Lithuania,35,35,35,35,35,35,35
Brazil,32,32,32,32,32,32,32
Czech Republic,30,30,30,30,30,30,30
Bahrain,19,19,19,19,19,19,17
Saudi Arabia,10,10,10,10,10,10,10